<body style="color: #eee;">
<div style="text-align: center;">

<h1 style="font-style: italic">projects</h1>
<span><%= image_tag("div2.png", :alt => "div2", :size => '50x50')%></span>
</br>
<h4>Current And Past Projects:</h4>
</br>
<h5><mark><a href="https://nft.coinbase.com/collection/ethereum/0xa53a0a7523c3ac6db07d5761a8e5e365f87c752b"> Summer 2022 Crytern NFT</a></mark></h5>
<p style="text-size: large; padding-left: 15%; padding-right: 15%;">
This summer we had our largest cohort of crypterns yet, hailing from all 🌎 over 🌍 the
🌏 globe! It's been a long winding summer, and we (the Summer 2022 Cryptern Social
Committee) wanted to present to you a token of congratulations. 🥳
<br/>
<%= image_tag("summer2022crypternnft.png", :alt => "summer 2022 cryptern nft collection", :size => '683x300')%>
<br/>
This decentralized app, or "dapp" was created with ReactJS, Web3JS, and Solidity; hosted internally.
<br/>
</p>

</br>
</br>

<h5><mark><a href="https://www.kairosmusic.io/"> Kairos Music</a></mark></h5>
<p style="text-size: large; padding-left: 15%; padding-right: 15%;">
Founded in February 2021, Kairos MGMT was originally a “full-service NFT management Agency
made for the Music Industry” that guided artists who wanted to break into blockchain. Our
startup is named after Caerus from Greek Myth, the personification of being at the right
time and place, because of how quickly we grew. After several discussions with independent
artists and music management companies, we realized that there was a lack of blockchain
education and accessibility to blockchain technology in the music industry—we felt keeping
our material behind a paywall would exacerbate the inaccessibility of blockchain adoption.
While we enjoyed growing with our artists and their teams, pivoting our focus from
personalized guidance to fostering an educational community felt more aligned with our
mission to lower the barrier to entry in the blockchain industry.

We are made in Massachusetts and New York with love ❤️
<br/>
<%= image_tag("kairosmusic.png", :alt => "summer 2022 cryptern nft collection", :size => '683x300')%>
<br/>
This startup was developed, with ReactJS, NodeJS, VanillaJS, Web3JS, and Solidity; hosted on AWS.
<br/>
</p>

</br>
</br>

<h5><mark><a href="https://sites.google.com/view/signalsolver/home"> Signal Solver</a></mark></h5>
<p style="text-size: large; padding-left: 15%; padding-right: 15%;">
The world of analog and digital communications builds upon the fundamentals of how
signal systems work. This means that just like in signal systems, sinusoidal, domain
shifting, and other combinatorial operations make a return here. This minigame attempts
to take theoretical signal operations and incorpotate them into a multi-challenge based
educational experince that is both comprehensive and intuitive.
<br/>
<%= image_tag("signalsolver.gif", :alt => "signal solver demo gif", :size => '683x613')%>
<br/>
This minigame was created with HTML and VanillaJS.
<br/>
</p>

</br>
</br>

<h5><mark><a href="https://olincollege.github.io/pie-2021-03/Cup-Noodle/"> The Cup Noodle Machine</a></mark></h5>
<p style="text-size: large; padding-left: 15%; padding-right: 15%;">
The Cup Noodle Ramen Vending Machine is a creation made to make the simple things even
simpler. See your ramen being made right before your eyes by using our app to place an
order from one of our selection sliders. Our vending machine houses a two-axis gantry
system that can deliver your choice of four ramen flavors, as well as hot water, and can
provide ramen ready for you to enjoy. Our goal for this project was to build an aesthetically
pleasing method of dispensing ready-to-eat cup ramen to customers. We hoped to create
something mechanically innovative with extensive modulability, allowing for customer
customization. Our vending machine features a kettle for hot water dispensing, four cup
ramen dispensers, a large gantry system, and wooden housing that still allows customers
to witness the mechanical processes within our machine. Our website gives many customization
options for ramen flavors and toppings and allows for a lot of customer interactivity. 
<br/>
<iframe width="683" height="366" src="https://www.youtube.com/embed/6TkAAt8hxeA" title="Cup Noodle Product Video - Principles of Integrated Engineering @ Olin College" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br/>
This project was created with a ReactJS webapp hosted on Heroku; with FastAPI interactivity, Arduino/C++ firmware, and hardware spanning woods, plastics, and metals.
<br/>
</p>

</br>
</br>

<h5><mark><a href="http://www.wobblefinance.com/"> Wobble Finance</a></mark></h5>
<p style="text-size: large; padding-left: 15%; padding-right: 15%;">
Wobble Finance is a bare-bones cryptocurrency screener that allows the user to look
up hundreds of different cryptocurrencies and see how they are performing. Simply
search for any major cryptocurrency symbol and in seconds get the bread-and-butter
statistics about it, including the current price, the 24-hour price change, and the
total exchange volume in USD. Wobble Finance was created to help those new to the
cryptocurrency space learn more about cryptocurrencies through educational videos
and then apply what they have learned with the aid of the Wobble Finance screener
web app. In addition to this there is the Wobble Finance Token (WBBL) that helps
fund API calls for the web app. The Wobble Finance Token (WBBL) is available to trade
on the Binance Smart Chain as a BEP-20 token and is a listed asset on PancakeSwap.
<br/>
<%= image_tag("wobblefinance.gif", :alt => "wobble finance demo gif", :size => '683x300')%>
<br/>
This webapp was created with NodeJS, EJS, and Solidity; hosted on Heroku.
<br/>
</p>

</br>
</br>

<h5><mark><a href="https://hipstertrek.herokuapp.com/"> HipsterTrek</a></mark></h5>
<p style="text-size: large; padding-left: 15%; padding-right: 15%;">
Over the past few decades we have seen the global music industry evolve at continuously
increasing rates, and with this phenomenon comes the advent of music becoming more
accessible to individuals overall. Just like how no two people share the exact same
character traits, our music tastes vary from person to person as well. This notion had
me thinking about different major music genres and how it could be possible to find
similarities between them and create a basic graphical representation. In the process
of creating this map one question began to rise in my mind: could it be possible to
create an algorithm that would offer the shortest path to go from one music genre to
another? This became the basis for my implementation project.
<br/>
<%= image_tag("hipstertrek.gif", :alt => "hipstertrek demo gif", :size => '683x300')%>
<br/>
This webapp was created with NodeJS, EJS, and VanillaJS; hosted on Heroku.
<br/>
</p>

</br>
</br>

<h5><mark><a href="https://toluooshy.github.io/SoftSysDynamiChat/"> DynamiChat</a></mark></h5>
<p style="text-size: large; padding-left: 15%; padding-right: 15%;">
The ultimate goal of DynamiChat is to serve as a messaging platform that can be accessed
simply from the user’s terminal with an internet connection, allowing for a more streamlined
and simplistic medium of communication. Starting with internet communications, a MongoDB Atlas
cluster was set up to hold the data from messages sent and received, and DyanmiChat would
communicate with this database using GET and POST requests written in C with the MongoDB C Driver.
<br/>
<%= image_tag("dynamichat.gif", :alt => "dynamichat demo gif", :size => '683x328')%>
<br/>
This application was created with C, BSON, and Shell Script; data is stored and managed with MongoDB.
<br/>
</p>

</br>
</br>

<h5><mark><a href="http://www.fitpic.co/"> fitpic</a></mark></h5>
<p style="text-size: large; padding-left: 15%; padding-right: 15%;">
This project was designed to be a "virtual closet" where the user can log any 
clothing attire they might have hat they would like to try something new with; 
all the while promoting sustainable/ethical clothing brands. Currently this 
project is under redesign to allow the user to log in (previously this was 
an offline webapp).
<br/>
<%= image_tag("fitpicweb.png", :alt => "fitpic screenshot", :size => '683x384')%>
<br/>
This webapp was created with Python, Django, and SQLite/PostgreSQL; hosted on Heroku.
<br/>
</p>

</br>
</br>

<h5><mark><a href="http://thesbpro.org/"> The Storyboard Project</a></mark></h5>
<p style="text-size: large; padding-left: 15%; padding-right: 15%;">
This project was designed to be a "coming-of-age" platform for young adults to 
semi-anonymously submit vignettes from their childhoods through adolescence. This 
was developed in hopes of spurring conversation around overlooked conversations 
that could be had, and can be used by parents to better understand what their 
children may be going through from the mouth of another youth. 
<br/>
<%= image_tag("storyboardweb.png", :alt => "the storyboard project screenshot", :size => '683x384')%>
<br/>
This webapp was created with NodeJS, Axios, and Firebase/Firestore; hosted on Firebase.
<br/>
</p>

</br>
</br>

<h5><mark><a href="https://sd2020spring.github.io/PyRacer-The-Game/"> PyRacer</a></mark></h5>
<p style="text-size: large; padding-left: 15%; padding-right: 15%;">
This Python game is a modern adaptation of the classic SEGA game ‘Outrun’, 
with a remix to the original game play where you can choose between three 
different cars and race along 6 different courses. It was developed as my  
final project for my Software Design class at Olin.
<br/>
<%= image_tag("pyracer.gif", :alt => "pyracer gameplay teaser", :size => '683x384')%>
<br/>
This game was created with Python and Pygame.
<br/>
</p>

</br>
</br>

<p><%= image_tag("github.png", :alt => "github icon", :size => '64x64')%><a href="https://github.com/toluooshy"> <h2><i>For more cool projects check out my GitHub profile!</i></h2></a></p>
<h6><%= link_to "🐜 bugs? 🐞", welcome_bugs_path %></h6>

</div>
</body>
